Package: com.shadow.h5ggapp
Name: H5GG
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Float On Screen for jailbroken devices (iOS 15+; not compatible with iPad SlideOver/SplitView) Discord https://discord.gg/FAs4MH7HMc
Maintainer: Shadow-
Author: Shadow-
Section: System
Version: 8.0.0
